section {
  background-color: #292929;
  padding: 80px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  .headline {
    text-align: center;
    color: #3dcfb6;
    h1 {
      font-size: 35px;
      font-weight: bolder;
    }
  }

  .cards-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    transition: transform 0.4s ease;
    padding: 60px 0;
  }

  app-single-wos {
    width: 550px;
    transition: transform 0.4s ease, opacity 0.4s;
    flex-shrink: 0;
  }

  app-single-wos.center {
    transform: translateX(0);
    opacity: 1;
    z-index: 3;
  }

  app-single-wos.left-side {
    transform: translateX(-50%);
    opacity: 0.7;
  }

  app-single-wos.right-side {
    transform: translateX(50%);
    opacity: 0.7;
  }

  .navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    .arrow {
      cursor: pointer;
      fill: #fff;
      transition: transform 0.4s ease-in-out;

      &:hover {
        fill: #3dcfb6;
        transform: translateX(5px);
      }
    }

    .arrow-left {
      cursor: pointer;
      fill: #fff;
      transition: transform 0.4s ease-in-out;

      &:hover {
        fill: #3dcfb6;
        transform: translateX(-5px);
      }
    }
  }

  .dots-wrapper {
    display: flex;
    gap: 25px;
  }

  .dots {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
