<section>
  <div class="headline"><h1>What my colleagues say about me</h1></div>
  <div class="cards-container">
    <app-single-wos *ngFor="let wos of whatOthersSay; index as i" 
    [opinion]="wos"
    [class.center]="i === middleIndex"
    [class.left-side]="i < middleIndex"
    [class.right-side]="i > middleIndex"
    >
    </app-single-wos>
  </div>
    <div class="dots">
    <span
      *ngFor="let wos of whatOthersSay; index as i"
      [class.active]="i === middleIndex">
    </span>
  </div>
</section>
