section {
  background-color: #1c1c1c;
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  .headline {
    color: #3dcfb6;
  }

  .carousel {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;

    .quote-mark {
      position: absolute;
      top: -40px;
      left: 50%;
      transform: translateX(-375px);
      font-size: 250px;
      color: #fff;
      font-family: "Karla Regular", "FiraCode Regular";
      pointer-events: none;
      z-index: 10;
    }

    .track {
      display: flex;
      width: 100%;
      height: 450px;
      align-items: center;
    }

    .slide {
      position: absolute;
      top: 0;
      opacity: 0;
      transform: scale(0.7);
      transition:
        transform 0.8s ease,
        opacity 0.8s ease,
        left 0.8s ease,
        right 0.8s ease;
      pointer-events: none;

      &.active {
        left: 50%;
        transform: translateX(-50%) scale(1);
        opacity: 1;
        z-index: 3;
        pointer-events: auto;
      }

      &.left {
        left: -25%;
        opacity: 0.3;
        transform: scale(0.85);
        z-index: 2;
      }

      &.right {
        right: -25%;
        opacity: 0.3;
        transform: scale(0.85);
        z-index: 2;
      }
    }
  }

  .slide-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 30px;
    .dots {
      display: flex;
      gap: 10px;
      .dot {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #fff;
        &.active {
          background: #3dcfb6;
          transform: scale(1.2);
        }
        cursor: pointer;
      }
    }
    .arrow {
      fill: #fff;

      &:hover {
        cursor: pointer;
        fill: #3dcfb6;
        transform: translateX(5px);
      }
    }
    .arrow-left {
      fill: #fff;

      &:hover {
        cursor: pointer;
        fill: #3dcfb6;
        transform: translateX(-5px);
      }
    }
  }
}

@media (max-width: 1310px) {
  section {
    .carousel {
      .slide {
        &.right {
          right: -35%;
        }
        &.left {
          left: -35%;
        }
      }
    }
  }
}

@media (max-width: 1155px) {
  section {
    .carousel {
      .slide {
        &.right {
          right: -45%;
        }
        &.left {
          left: -45%;
        }
      }
    }
  }
}

@media (max-width: 1030px) {
  section {
    .carousel {
      .slide {
        &.right {
          right: -55%;
        }
        &.left {
          left: -55%;
        }
      }
    }
  }
}

@media (max-width: 935px) {
  section {
    .carousel {
      .slide {
        &.right {
          right: -60%;
        }
        &.left {
          left: -60%;
        }
      }
    }
  }
}

@media (max-width: 895px) {
  section {
    .carousel {
      .slide {
        &.right {
          right: -65%;
        }
        &.left {
          left: -65%;
        }
      }
    }
  }
}

@media (max-width: 860px) {
  section {
    .carousel {
      .quote-mark {
        transform: translateX(-270px);
        font-size: 250px;
      }
      .slide {
        &.right {
          right: -45%;
        }
        &.left {
          left: -45%;
        }
      }
    }
  }
}

@media (max-width: 725px) {
  section {
    .carousel {
      .slide {
        &.right {
          right: -55%;
        }
        &.left {
          left: -55%;
        }
      }
    }
  }
}

@media (max-width: 660px) {
  section {
    .headline {
      h1 {
        font-size: 25px;
      }
    }
    .carousel {
      .slide {
        &.right {
          right: -60%;
        }
        &.left {
          left: -60%;
        }
      }
    }
  }
}

@media (max-width: 620px) {
  section {
    .carousel {
      .quote-mark {
        transform: translateX(-220px);
      }
      .slide {
        &.right {
          right: -50%;
        }
        &.left {
          left: -50%;
        }
      }
    }
  }
}

@media (max-width: 545px) {
  section {
    .carousel {
      .slide {
        &.right {
          right: -58%;
        }
        &.left {
          left: -58%;
        }
      }
    }
  }
}

@media (max-width: 510px) {
  section {
     .headline {
      h1 {
        font-size: 20px;
      }
    }
    .carousel {
      .slide {
        &.right {
          right: -65%;
        }
        &.left {
          left: -65%;
        }
      }
    }
  }
}

@media (max-width: 475px) {
  section {
    .carousel {
      .quote-mark {
        transform: translateX(-180px);
        font-size: 200px;
        top: -20px;
      }
      .slide {
        &.right {
          right: -60%;
        }
        &.left {
          left: -60%;
        }
      }
    }
  }
}

@media (max-width: 420px) {
  section {
    .carousel {
      .slide {
        &.right {
          right: -67%;
        }
        &.left {
          left: -67%;
        }
      }
    }
  }
}


@media (max-width:390px) {
  section {
     .headline {
      h1 {
        font-size: 18px;
      }
    }
    .carousel {
      .quote-mark {
        transform: translateX(-160px);
      }
      .slide {
        &.right {
          right: -60%;
        }
        &.left {
          left: -60%;
        }
      }
    }
  }
}

@media (max-width:390px) {
  section {
     .headline {
      h1 {
        font-size: 17px;
      }
    }
    .carousel {
      .slide {
        &.right {
          right: -70%;
        }
        &.left {
          left: -70%;
        }
      }
    }
  }
}

@media (max-width:330px) {
  section {
     .headline {
      h1 {
        font-size: 16px;
      }
    }
    .carousel {
      .slide {
        &.right {
          right: -90%;
        }
        &.left {
          left: -90%;
        }
      }
    }
  }
}
