section {
  background-color: #1c1c1c;
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  .headline {
    padding-top: 50px;
    color: #3dcfb6;
  }

  .carousel {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;

    .track {
      display: flex;
      position: relative;
      width: 100%;
      height: 420px;
      align-items: center;
    }

    .slide {
      position: absolute;
      top: 0;
      transition: all 1s ease-in-out;
      opacity: 0;
      pointer-events: none;
      transform: scale(0.7);

      &.active {
        left: 50%;
        transform: translateX(-50%) scale(1);
        opacity: 1;
        pointer-events: auto;
        z-index: 3;
        position: relative;
        &::before {
          content: "“";
          position: absolute;
          top: -85px;
          left: -75px;
          font-size: 320px;
          line-height: 1;
          color: #fff;
          font-family: "Karla Regular", "FiraCode Regular";
          pointer-events: none;
          z-index: 999;
        }
      }

      &.left,
      &.right {
        opacity: 0.6;
        transform: scale(0.85);
        z-index: 2;
        filter: blur(1px);
      }

      &.left {
        top: 15%;
        left: -15%;
      }

      &.right {
        top: 15%;
        right: -15%;
      }
    }
  }

  .slide-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 30px;
    .dots {
      display: flex;
      gap: 10px;
      .dot {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #fff;
        &.active {
          background: #3dcfb6;
          transform: scale(1.2);
        }
        cursor: pointer;
      }
    }
    .arrow {
      fill: #fff;

      &:hover {
        cursor: pointer;
        fill: #3dcfb6;
        transform: translateX(5px);
      }
    }
    .arrow-left {
      fill: #fff;

      &:hover {
        cursor: pointer;
        fill: #3dcfb6;
        transform: translateX(-5px);
      }
    }
  }
}

@media (max-width: 1456px) {
  section {
    .carousel {
      .slide {
        &.left {
          top: 15%;
          left: -20%;
        }

        &.right {
          top: 15%;
          right: -20%;
        }
      }
    }
  }
}

@media (max-width: 1429px) {
  section {
    .carousel {
      .slide {
        &.left {
          top: 15%;
          left: -25%;
        }

        &.right {
          top: 15%;
          right: -25%;
        }
      }
    }
  }
}

@media (max-width: 1340px) {
  section {
    .carousel {
      .slide {
        &.left {
          top: 15%;
          left: -30%;
        }

        &.right {
          top: 15%;
          right: -30%;
        }
      }
    }
  }
}

@media (max-width: 1255px) {
  section {
    .carousel {
      .slide {
        &.left {
          top: 15%;
          left: -35%;
        }

        &.right {
          top: 15%;
          right: -35%;
        }
      }
    }
  }
}

@media (max-width: 1185px) {
  section {
    .carousel {
      .slide {
        &.left {
          top: 15%;
          left: -40%;
        }

        &.right {
          top: 15%;
          right: -40%;
        }
      }
    }
  }
}

@media (max-width: 1115px) {
  section {
    .carousel {
      .slide {
        &.left {
          top: 15%;
          left: -45%;
        }

        &.right {
          top: 15%;
          right: -45%;
        }
      }
    }
  }
}

@media (max-width: 1060px) {
  section {
    .carousel {
      .slide {
        &.left {
          top: 15%;
          left: -50%;
        }

        &.right {
          top: 15%;
          right: -50%;
        }
      }
    }
  }
}

@media (max-width: 1005px) {
  section {
    .carousel {
      .slide {
        &.left {
          top: 15%;
          left: -55%;
        }

        &.right {
          top: 15%;
          right: -55%;
        }
      }
    }
  }
}

@media (max-width: 960px) {
  section {
    .carousel {
      .slide {
        &.left {
          top: 15%;
          left: -60%;
        }

        &.right {
          top: 15%;
          right: -60%;
        }
      }
    }
  }
}

@media (max-width: 917px) {
  section {
    .carousel {
      .slide {
        &.left {
          top: 15%;
          left: -65%;
        }

        &.right {
          top: 15%;
          right: -65%;
        }
      }
    }
  }
}

@media (max-width: 880px) {
  section {
    .carousel {
      .slide {
        &.left {
          top: 15%;
          left: -67%;
        }

        &.right {
          top: 15%;
          right: -67%;
        }
      }
    }
  }
}

@media (max-width: 860px) {
  section {
    .carousel {
      .slide {
        &.left {
          top: 15%;
          left: -35%;
        }

        &.right {
          top: 15%;
          right: -35%;
        }
      }
    }
  }
}

@media (max-width: 760px) {
  section {
    .carousel {
      .slide {
        &.left {
          top: 15%;
          left: -45%;
        }

        &.right {
          top: 15%;
          right: -45%;
        }
      }
    }
  }
}

@media (max-width: 683px) {
  section {
    .carousel {
      .slide {
        &.left {
          top: 15%;
          left: -55%;
        }

        &.right {
          top: 15%;
          right: -55%;
        }
      }
    }
  }
}

@media (max-width: 620px) {
  section {
    .headline{
      font-size: 13px;
    }
    .carousel {
      .slide {
        &.active {
          &::before {
            content: "“";
            top: -85px;
            left: -45px;
            font-size: 320px;
          }
        }
        &.left {
          top: 15%;
          left: -45%;
        }

        &.right {
          top: 15%;
          right: -45%;
        }
      }
    }
  }
}

@media (max-width: 575px) {
  section {
    .carousel {
      .slide {
        &.left {
          top: 15%;
          left: -55%;
        }

        &.right {
          top: 15%;
          right: -55%;
        }
      }
    }
  }
}

@media (max-width: 520px) {
  section {
    .headline{
      font-size: 9px;
    }
    .carousel {
      .slide {
        &.left {
          top: 15%;
          left: -63%;
        }

        &.right {
          top: 15%;
          right: -63%;
        }
      }
    }
  }
}

@media (max-width: 485px) {
  section {
    .carousel {
      .slide {
        &.active {
          &::before {
            content: "“";
            top: -45px;
            left: -30px;
            font-size: 220px;
          }
        }
        &.left {
          top: 15%;
          left: -60%;
        }

        &.right {
          top: 15%;
          right: -60%;
        }
      }
    }
  }
}

@media (max-width: 425px) {
  section {
    .carousel {
      .slide {
       
        &.left {
          top: 15%;
          left: -70%;
        }

        &.right {
          top: 15%;
          right: -70%;
        }
      }
    }
  }
}

@media (max-width: 390px) {
  section {
    .carousel {
      .slide {
        &.left {
          top: 15%;
          left: -60%;
        }
        &.right {
          top: 15%;
          right: -60%;
        }
      }
    }
  }
}

@media (max-width: 360px) {
  section {
    .headline{
      font-size: 8px;
    }
    .carousel {
      .slide {
        &.left {
          top: 15%;
          left: -67%;
        }
        &.right {
          top: 15%;
          right: -67%;
        }
      }
    }
  }
}

@media (max-width: 339px) {
  section {
    .carousel {
      .slide {
        &.left {
          top: 15%;
          left: -69%;
        }
        &.right {
          top: 15%;
          right: -69%;
        }
      }
    }
  }
}

@media (max-width: 339px) {
  section {
    .carousel {
      .slide {
        &.active {
          &::before {
            content: "“";
            top: -40px;
            left: -20px;
            font-size: 180px;
          }
        }
      }
    }
  }
}

