section {
  background-color: #292929;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .headline {
    color: #3dcfb6;
    padding-bottom: 80px;
  }

  .carousel {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;

    .track {
      display: flex;
      position: relative;
      width: 100%;
      height: 220px;
    }

    .slide {
      position: absolute;
      top: 0;
      transition: all 0.8s ease-in-out;
      opacity: 0;
      pointer-events: none;
      transform: scale(0.7);

      &.active {
        left: 50%;
        transform: translateX(-50%) scale(1);
        opacity: 1;
        pointer-events: auto;
        z-index: 3;
      }

      &.left {
        left: -15%;
        transform: scale(0.85);
        opacity: 0.7;
        z-index: 2;
      }

      &.right {
        right: -15%;
        transform: scale(0.85);
        opacity: 0.7;
        z-index: 2;
      }
    }
  }

  .slide-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 30px;
    padding-top: 30px;
    .dots {
      display: flex;
      gap: 10px;
      .dot {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #fff;
        &.active {
          background: #3dcfb6;
          transform: scale(1.2);
        }
        cursor: pointer;
      }
    }
    .arrow{
        fill:#fff;

        &:hover{
            cursor: pointer;
            fill: #3dcfb6;
            transform: translateX(5px);
        }
    }
    .arrow-left{
        fill:#fff;

        &:hover{
            cursor: pointer;
            fill: #3dcfb6;
            transform: translateX(-5px);
        }
    }
  }
}
