mat-card {
  height: 220px;
  width: 550px;
  background-color: #2f5b54;
  border: 1px solid #3dcfb6;
  border-radius: 20px;
  color: #fff;
  padding: 30px;
  display: flex; 
  flex-direction: column; 
  justify-content: space-between;

  mat-card-content {
    padding: 0px;
  }

  mat-card-footer.footer {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    .line {
      height: 1px;
      width: 10px;
      background-color: #fff;
    }
    .line1 {
      height: 1px;
      background-color: #fff;
      flex: 1;
    }
    .name,
    .role {
      white-space: nowrap;
      text-align: right;
    }
  }
}
