mat-card {
  min-height: 300px;
  height: auto;
  width: 650px;
  background-color: #2f5b54;
  border: 1px solid #3dcfb6;
  border-radius: 20px;
  color: #fff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  margin-top: 50px;

  mat-card-content {
    padding: 0px;
  }

  mat-card-footer.footer {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    .line {
      height: 1px;
      min-width: 3px;
      background-color: #fff;
    }
    .line1 {
      height: 1px;
      min-width: 1px;
      background-color: #fff;
      flex: 1;
    }
    .name,
    .role {
      white-space: nowrap;
      text-align: right;
    }
  }
}

@media (max-width: 860px) {
  mat-card {
    width: 450px;
  }
}

@media (max-width: 620px) {
  mat-card {
    width: 350px;
    padding: 10px;

    mat-card-content {
      padding-top: 25px;
    }
    mat-card-footer.footer {
      gap: 5px;
      .name,.role{
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 475px) {
  mat-card {
    width: 300px;
  mat-card-footer.footer {
      gap: 0px;
    }
  }
}

@media (max-width: 390px) {
  mat-card {
    width: 250px;
      mat-card-footer.footer {
      .name,.role{
        font-size: 12px;
      }
    }
  }
}
