nav {
  position: absolute;
  width: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.05);
  z-index: 999;

  .container {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a.right {
    text-decoration: none;
  }

  .right {
    display: flex;
    align-items: center;

    .menu-mobile {
      display: none;
      cursor: pointer;
    }

    .logo-container {
      display: flex;
      align-items: center;
      padding-top: 20px;
      padding-bottom: 20px;

      .logo-letters {
        position: relative;
        width: 70px;
        height: 70px;
        .ls0 path {
          fill: #3dcfb6;
          stroke: #3dcfb6;
          stroke-width: 0;
          transition:
            fill 0.3s ease,
            stroke-width 0.3s ease;
        }
      }

      .full-name {
        display: flex;
        flex-direction: column;
        span {
          font-size: 28px;
          font-weight: bolder;
          color: #fff;
          line-height: 1.1;
        }
      }

      &:hover {
        .logo-letters .ls0 path {
          fill: transparent;
          stroke-width: 10px;
        }
        .full-name span {
          color: transparent;
          -webkit-text-stroke: 0.5px #fff;
          font-weight: 50;
          cursor: pointer;
          filter: brightness(3);
        }
      }
    }
  }

  .left {
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 30px;

    a {
      position: relative;
      text-decoration: none;
      color: #fff;
      &:hover::after {
        content: "•";
        color: #3dcfb6;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -25px;
        font-size: 30px;
      }
      &:active {
        color: #3dcfb6;
      }
    }
  }

  mat-button-toggle-group {
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.05);
    border: 2px solid #3dcfb6;
    padding: 0.5px;
    &:hover {
      border: 2px solid #fff;
      cursor: pointer;
    }
  }

  mat-button-toggle {
    background-color: transparent;
    color: #337c6f;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    border-radius: 0;
  }

  mat-button-toggle.mat-button-toggle-checked {
    background-color: #3dcfb6;
    color: #fff;
    border-radius: 25px;
  }
}

.mobile-menu {
  display: none;
}

@media (max-width: 768px) {
  nav {
    background-color: transparent;

    .left {
      display: none;
    }

    .right {
      width: 100%;
      justify-content: space-between;
      .logo-container {
        .full-name {
          display: none;
        }
      }

      .menu-mobile {
        display: flex;
      }
    }
  }

  .mobile-menu {
    position: absolute;
    top: 70px;
    right: 30px;
    width: auto;
    background: #111;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    padding: 40px 80px;
    z-index: 1000;
    border-radius: 20px;
    text-align: left;
    border: 1px solid #3dcfb6;
    background-image: url("./../../../assets/images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .mobile-menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    text-align: left;
    width: 100px;
  }

  mat-button-toggle-group {
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.05);
    border: 2px solid #3dcfb6;
    padding: 0.5px;
    &:hover {
      border: 2px solid #fff;
      cursor: pointer;
    }
  }

  mat-button-toggle {
    background-color: transparent;
    color: #337c6f;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    border-radius: 0;
  }

  mat-button-toggle.mat-button-toggle-checked {
    background-color: #3dcfb6;
    color: #fff;
    border-radius: 25px;
  }
}
