<nav>
  <div class="container">
    <div class="left">
      <mat-button-toggle-group name="language" value="en" appearance="legacy">
        <mat-button-toggle value="en">EN</mat-button-toggle>
        <mat-button-toggle value="de">DE</mat-button-toggle>
      </mat-button-toggle-group>
      <a href="#about_me">About me</a>
      <a href="#technologies">Skills</a>
      <a href="#project">Projects</a>
    </div>
    <div class="right">
      <div class="logo-container">
        <div class="logo-letters">
          <span class="letter-z">Z</span>
          <span class="letter-a">A</span>
        </div>
        <div class="full-name">
          <span>Zeljko</span>
          <span>Alakovic</span>
        </div>
      </div>
    </div>
  </div>
</nav>
