section {
  background-color: #1c1c1c;
  padding: 80px 0;
  display: flex;
  justify-content: center;
  gap: 40px;
  position: relative;

  span {
    color: #3dcfb6;
    font-size: 25px;
    font-family: "Karla Regular", "FiraCode Regular" !important;
  }

  .sub-text {
    color: #fff;
    font-size: 20px;
    font-family: "Karla Regular", "FiraCode Regular" !important;
    white-space: pre-line;
  }

  h1 {
    color: #3dcfb6;
    font-weight: 900;
    font-size: 50px;
    padding-top: 15px;
    padding-bottom: 20px;
  }

  .section-wrapper {
    width: 100%;
    max-width: 1440px;
    padding: 0 30px;
    display: flex;
    position: relative;
  }

  .project-wrapp {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .project-img {
    width: 300px;
    height: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    right: 40px;
    top: 0;
    overflow: visible;

    &::before {
      content: "";
      position: absolute;
      top: 15px;
      left: 15px;
      width: 100%;
      height: 100%;
      background: repeating-linear-gradient(
        45deg,
        #3dcfb6 0 1px,
        transparent 1px 20px
      );
      z-index: 1;
      border: 10px;
      opacity: 0;
      transition: opacity 0.1s;
    }

    img {
      position: relative;
      z-index: 2;
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }

    &.active::before {
      opacity: 1;
    }
  }

  .project-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px;
    border-bottom: 1px solid #3dcfb6;
    position: relative;

    &:first-child {
      border-top: 1px solid #3dcfb6;
    }

    &:hover {
      background-color: #2f5b53;
      cursor: pointer;
      & .name::after {
        opacity: 1;
      }
    }

    .name {
      color: #fff;
      font-weight: bold;
      font-size: 25px;
      font-family: "Karla Regular", "FiraCode Regular" !important;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: -30px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        background-image: url("../../../assets/images/arrow_outward.png");
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 0;
        transition: opacity 0.2s;
      }
    }

    .project-tech {
      .tech-name {
        color: #fff !important;
        font-size: 20px;
      }

      .separator {
        color: #3dcfb6;
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 1000px) {
  section {
    .project-wrapp {
      width: 100%;
    }
    .project-img {
      display: none;
    }
  }
}

@media (max-width: 584px) {
  section {
    h1 {
      font-size: 50px;
      line-height: 50px;
    }
  }
}

@media (max-width: 512px) {
  section {
    .sub-text {
      white-space: normal;
    }
  }
}

@media (max-width: 510px) {
  section {
    .sub-text {
      font-size: 16px;
    }
    .project-item {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      padding: 20px 0px;
      .name {
        font-size: 18px;
      }

      .project-tech {
        .tech-name {
          font-size: 18px;
        }

        .separator {
          font-size: 18px;
        }
      }
    }
  }
}

@media (max-width: 350px) {
  section {
    .project-item {
      .project-tech {
        .tech-name {
          font-size: 16px;
        }

        .separator {
          font-size: 16px;
        }
      }
    }
  }
}
