section {
  background-color: #292929;
  padding: 80px 120px;
  display: flex;
  gap: 40px;
  position: relative;

  span {
    color: #3dcfb6;
    font-size: 25px;
    font-family: "Karla Regular", "FiraCode Regular" !important;
  }

  .sub-text {
    color: #fff;
    font-size: 20px;
    font-family: "Karla Regular", "FiraCode Regular" !important;
  }

  h1 {
    color: #3dcfb6;
    font-weight: 900;
    font-size: 50px;
    padding-top: 15px;
    padding-bottom: 20px;
  }

  .project-wrapp {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .project-img {
    width: 300px;
    height: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    right: 100px;
    overflow: visible;

    &::before {
      content: "";
      position: absolute;
      top: 15px;
      left: 15px;
      width: 100%;
      height: 100%;
      background: repeating-linear-gradient(
        45deg,
        #3dcfb6 0 1px,
        transparent 1px 20px
      );
      z-index: 1;
      border: 10px;
      opacity: 0;
      transition: opacity 0.1s;
    }

    img {
      position: relative;
      z-index: 2;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }

    &.active::before {
      opacity: 1;
    }
  }

  .project-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px;
    border-bottom: 1px solid #3dcfb6;
    position: relative;

    &:first-child {
      border-top: 1px solid #3dcfb6;
    }

    &:hover {
      background-color: #2f5b53;
      cursor: pointer;
      & .name::after {
        opacity: 1; 
      }
    }

    .name {
      color: #fff;
      font-weight: bold;
      font-size: 25px;
      font-family: "Karla Regular", "FiraCode Regular" !important;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: -30px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        background-image: url("../../../assets/images/arrow_outward.png");
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 0;
        transition: opacity 0.2s;
      }
    }

    .project-tech {
      .tech-name {
        color: #fff !important;
        font-size: 20px;
      }

      .separator {
        color: #3dcfb6;
        font-size: 20px;
      }
    }
  }
}
