<section id="project">
  <div class="section-wrapper">
  <div class="project-wrapp" data-aos="zoom-in-up" data-aos-duration="2000">
    <div class="project-head">
      <span>Portfolio</span>
      <h1>{{'PROJECTS.TITLE' | translate}}</h1>
      <span class="sub-text"
        >{{'PROJECTS.SUBTITLE' | translate}}
      </span>
    </div>
    <div class="project-list">
      <div
        class="project-item"
        *ngFor="let p of (projects$ | async); let i = index"
        (mouseover)="showImg(p.IMG, i)"
        (mouseleave)="hideImg()"
        (click)="openOverlay(p)"
      >
        <div class="project-name">
          <span class="name">{{ p.NAME }}</span>
        </div>
        <div class="project-tech">
          <ng-container *ngFor="let tech of p.TECH; let last = last">
            <span class="tech-name">{{ tech.NAME }}</span>
            <span *ngIf="!last" class="separator"> | </span>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div
    class="project-img"
    [ngClass]="{ active: currentImg }"
    [ngStyle]="{ 'top.px': 170 + imgIndex * 90}"
  >
    <img *ngIf="currentImg" [src]="currentImg" alt="project image" />
  </div>
  </div>
</section>

<app-single-project
  *ngIf="selectedProject"
  [project]="selectedProject"
  (close)="closeOverlay()"
  (next)="nextProject()"
>
</app-single-project>
