<section id="about_me">
  <div class="section-wrapper">
    <div class="image-box">
      <img src="assets/images/profile.jpg" alt="" />
    </div>
    <div class="info">
      <span class="who">{{ "ABOUT_ME.WHO" | translate }}</span>
      <mat-card>
        <mat-card-header>
          <mat-card-title> {{ "ABOUT_ME.TITLE" | translate }} </mat-card-title>
          <mat-card-subtitle>
            {{ "ABOUT_ME.SUBTITLE" | translate }}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="info-row">
            <img
              src="assets/images/location_on.png"
              alt="location_icon"
              class="info-icon"
            />
            <span
              >{{'ABOUT_ME.LOCATION' | translate}}
            </span>
          </div>
          <div class="info-row">
            <img
              src="assets/images/head.png"
              alt="head_icon"
              class="info-icon"
            />
            <span
              >{{'ABOUT_ME.HEAD' | translate}}</span
            >
          </div>
          <div class="info-row">
            <img
              src="assets/images/new_releases.png"
              alt="check_icon"
              class="info-icon"
            />
            <span
              >{{'ABOUT_ME.CHECK' | translate}}</span
            >
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>
