section {
  background-color: #292929;
  padding: 80px 120px;
  display: flex;
  align-items: center;
  justify-content: center;

  .image-box {
    position: relative;
    width: 600px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 98%;
      height: 98%;
      border-radius: 10px;
      background: repeating-linear-gradient(
        45deg,
        #3dcfb6 0 1px,
        transparent 1px 20px
      );
      transform: translate(-50%, -50%);
      transition: transform 0.3s ease;
      pointer-events: none;
    }

    &:hover::before {
      transform: translate(calc(-50% - 40px), calc(-50% + 30px));
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      z-index: 1;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    margin-left: 350px;
    padding-top: 150px;
  }

  .who {
    padding-bottom: 20px;
    color: #3dcfb6;
    font-size: 25px;
    font-family: "Karla Regular", "FiraCode Regular" !important;
  }

  mat-card {
    width: 500px;
    border: 1px solid #3dcfb6;
    border-radius: 8px;
    background-color: #36514c;
    padding: 15px;
  }

  mat-card-title {
    color: #3dcfb6;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 15px;
  }

  mat-card-subtitle {
    color: #fff;
    padding-bottom: 25px;
    font-size: 18px;
    font-weight: 400;
  }

  .info-row {
    display: flex;
    align-items:  flex-start;
    margin-bottom: 8px;

    .info-icon {
      width: 24px;
      height: 24px;
      margin-right: 30px;
    }

    span {
      display: inline-block;
      color:#969F9D;

      &:hover{
        color: #fff;
        cursor:default;
      }
    }
  }
}
