<section id="about_me">
  <div class="section-wrapper">
    <div class="image-box">
      <img src="assets/images/myPic.png" alt="" />
    </div>
    <div class="info">
      <span class="who">Who I am</span>
      <mat-card>
        <mat-card-header>
          <mat-card-title> About me </mat-card-title>
          <mat-card-subtitle>
            Hy there, I'm Zeljko! I'm passionate about coding, eager to learn
            new technologies, and constantly improving my skills.
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="info-row">
            <img
              src="assets/images/location_on.png"
              alt="location_icon"
              class="info-icon"
            />
            <span
              >Live in Köln. Open to remote,hybrid and in-office work, and I'm
              flexible to adapt to different working environments.
            </span>
          </div>
          <div class="info-row">
            <img
              src="assets/images/head.png"
              alt="head_icon"
              class="info-icon"
            />
            <span
              >I am open-minded and always enthusiastic about learning new
              technologies and continually improving my skills</span
            >
          </div>
          <div class="info-row">
            <img
              src="assets/images/new_releases.png"
              alt="check_icon"
              class="info-icon"
            />
            <span
              >My problem-solving approach is based on analytical thinking,
              creativity and persistence.I learn from every challenge and
              constantly aim to find solutions that are both efficient and
              elegant.I believe in collaboration and see each obstacle as an
              opportunity to improve and expand my skills</span
            >
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>
