section {
  background-color: #292929;
  padding: 80px 120px;
  display: flex;

  .image-box {
    position: relative;
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      background: repeating-linear-gradient(
        45deg,
        #3dcfb6 0 1px,
        transparent 1px 20px
      );

      transition: transform 0.3s ease;
      pointer-events: none;
    }

    &:hover::before {
      transform: translate(-40px, 30px);
    }

    img {
      width: 400px;
      height: 400px;
      object-fit: cover;
      display: block;
     // z-index: 1;
    }
  }
}
