section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 80px 0;
  background: linear-gradient(to bottom, rgba(61, 207, 182, 0), #1c1c1c 60px);

  .section-wrapper {
    width: 100%;
    max-width: 1440px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 50px;
    gap: 60px;
  }

  .image-box {
    flex: 0 1 550px;
    max-width: 550px;
    min-width: 150px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 98%;
      height: 98%;
      border-radius: 10px;
      background: repeating-linear-gradient(
        45deg,
        #3dcfb6 0 1px,
        transparent 1px 20px
      );
      transform: translate(-50%, -50%);
      transition: transform 0.3s ease;
      pointer-events: none;
    }

    &:hover::before {
      transform: translate(calc(-50% - 40px), calc(-50% + 30px));
    }

    img {
      width: 100%;
      aspect-ratio: 1 / 1;
      object-fit: cover;
      display: block;
      z-index: 1;
      border-radius: 15px;
    }
  }

  .info {
    flex: 0 1 auto;
    width: clamp(320px, 45vw, 500px);
    max-width: 500px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;

    &:hover {
      cursor: default;
    }
  }

  .who {
    padding-bottom: 20px;
    color: #3dcfb6;
    font-size: 25px;
    font-family: "Karla Regular", "FiraCode Regular" !important;
  }

  mat-card {
    width: 100%;
    border: 1px solid #3dcfb6;
    border-radius: 30px;
    background-color: #1f2e2b;
    padding: 15px;
    box-sizing: border-box;
  }

  mat-card-title {
    color: #3dcfb6;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 15px;
  }

  mat-card-subtitle {
    color: #fff;
    padding-bottom: 25px;
    font-size: 18px;
    font-weight: 400;
  }

  .info-row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;

    .info-icon {
      width: 24px;
      height: 24px;
      margin-right: 30px;
    }

    span {
      display: inline-block;
      color: #b5bab9;

      &:hover {
        color: #fff;
        cursor: default;
      }
    }
  }
}

@media (max-width: 1000px) {
  section {
    .section-wrapper {
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0 25px;
    }

    .image-box {
      flex: none;
      width: 100%;
      max-width: 500px;
    }

    .info {
      flex: none;
      padding-top: 0px;
      align-items: center;
      text-align: left;
      width: 100%;
      max-width: 500px;

      .who {
        align-self: flex-start;
      }
    }
  }
}

@media (max-width: 610px) {
  section {
    .info-row {
      margin-bottom: 15px;
      .info-icon {
        margin-right: 15px;
      }
    }
    mat-card-header {
      padding: 8px 8px 0;
    }

    mat-card-subtitle {
      padding-bottom: 10px;
    }
    mat-card-content {
      padding: 8px 8px 0;
    }
  }
}

@media (max-width: 410px) {
  section {
    .info-row {
      .info-icon{
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }
      span {
        font-size: 16px;
      }
    }

    mat-card-title {
      font-size: 25px;
    }

    mat-card-header {
      padding: 0;
    }

    mat-card-content {
      padding: 0;
    }
  }
}
