.overlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.content {
  background-image: url("./../../../../assets/images/background.png");
  background-size: cover;
  background-position: center;
  padding: 70px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 85%;
  gap: 80px;

  .close-icon {
    color: white;
    cursor: pointer;
    transition: color 0.2s ease, transform 0.2s ease;
    position: absolute;
    top: 40px;
    right: 60px;

    &:hover {
      color: #3dcfb6;
      transform: scale(1.3);
    }
  }

  .project-info {
    display: flex;
    flex-direction: column;

    h1 {
      color: #3dcfb6;
      font-size: 100px;
      font-weight: bold;
      font-family: "Karla Regular" !important;
    }

    h2 {
      color: #fff;
      font-size: 60px;
      font-weight: bold;
      font-family: "FiraCode Regular" !important;
      padding-bottom: 30px;
    }

    p {
      color: #3dcfb6;
      font-size: 25px;
      font-weight: bold;
      font-family: "Karla Regular" !important;
      padding-bottom: 30px;
    }

    span {
      color: #fff;
    }

    .tech-list {
      display: flex;
      flex-direction: row;
      padding-top: 30px;
      padding-bottom: 30px;
      gap: 30px;

      .tech-item {
        display: flex;
        align-items: flex-start;
        gap: 5px;
      }
    }
  }

  .project-img {
    margin-top: 30px;
    img {
      width: 550px;
      height: 350px;
      border-radius: 25px;
    }
  }

  .links {
    display: flex;
    gap: 25px;

    button {
      padding: 0 18px;
      overflow: hidden;
      border: 1px solid #fff;
      background: transparent;
      border-radius: 100px;
      height: 40px;

      a {
        color: #fff;
        display: inline-block;
        text-decoration: none;
        font-size: 15px;

        span {
          display: inline-block;
          white-space: nowrap;
          position: relative;
          animation: none;
        }
      }

      &:hover {
        color: #3dcfb6;
        border: 1px solid #3dcfb6;
        cursor: pointer;
      }

      &:hover a span {
        color: #3dcfb6;
      }
    }
  }
}
