.overlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.content {
  background-image: url("./../../../../assets/images/background.png");
  background-size: cover;
  background-position: center;
  padding: 70px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 95%;
  max-width: 1440px;
  padding: 0 30px;
  gap: 80px;
  border: #3dcfb6 solid 1px;

  .close-icon {
    color: white;
    cursor: pointer;
    transition:
      color 0.2s ease,
      transform 0.2s ease;
    position: absolute;
    top: 40px;
    right: 60px;

    &:hover {
      color: #3dcfb6;
      transform: scale(1.3);
    }
  }

  .project-info {
    display: flex;
    flex-direction: column;

    h1 {
      color: #3dcfb6;
      font-size: 100px;
      font-weight: bold;
      font-family: "Karla Regular" !important;
      margin: 0;
    }

    h2 {
      color: #fff;
      font-size: 60px;
      font-weight: bold;
      font-family: "FiraCode Regular" !important;
      padding-bottom: 30px;
      margin: 0;
    }

    p {
      color: #3dcfb6;
      font-size: 25px;
      font-weight: bold;
      font-family: "Karla Regular" !important;
      padding-bottom: 30px;
      margin: 0;
    }

    span {
      color: #fff;
    }

    .tech-list {
      display: flex;
      flex-direction: row;
      padding-top: 30px;
      gap: 30px;

      .tech-item {
        display: flex;
        align-items: flex-start;
        gap: 5px;
      }
    }
  }

  .project-img {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    max-width: 50%;
    img {
      width: 100%;
      height: auto;
      border-radius: 25px;
      object-fit: cover;
      display: block;
    }
  }

  .links {
    display: flex;
    gap: 25px;

    button {
      padding: 0 18px;
      overflow: hidden;
      border: 1px solid #fff;
      background: transparent;
      border-radius: 100px;
      height: 40px;
      margin: 40px 0;

      a {
        color: #fff;
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: 15px;

        span {
          white-space: nowrap;
          position: relative;
        }

        img {
          width: 24px;
          height: 24px;
          transform: rotate(-45deg);
          transition: transform 0.1s ease;
        }
      }

      &:hover {
        color: #3dcfb6;
        border: 1px solid #3dcfb6;
        cursor: pointer;
      }

      &:hover a span {
        color: #3dcfb6;
      }

      &:hover a img {
        transform: rotate(-45deg) translate(4px, 0);
      }
    }
  }

  .next-project {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 40px;
    right: 70px;
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
    gap: 8px;

    span {
      color: #3dcfb6;
      font-size: 18px;
      font-family: "Karla Regular" !important;
    }

    img {
      transition: transform 0.3s ease;
    }

    &:hover span {
      color: #fff;
    }

    &:hover img {
      transform: translate(5px, 0);
      filter: brightness(1.5);
    }
  }
}

@media (max-width: 1000px) {
  .overlay {
    align-items: flex-start;
    overflow-y: auto;
    padding: 30px 0;
  }
  .content {
    flex-direction: column-reverse;
    padding: 40px 30px;
    gap: 40px;
    .project-img {
      margin-top: 80px;
      max-width: 100%;
      img {
        width: 100%;
      }
    }
    .project-info {
      width: 100%;
    }

    .links {
      flex-wrap: wrap;
      gap: 15px;
    }
  }

  .next-project {
    position: static;
    margin-top: 40px;
    align-self: flex-end;
  }
}

@media (max-width: 767px) {
  .content {
    .project-info {
      h1 {
        font-size: 70px;
      }
      h2 {
        font-size: 50px;
      }
    }
  }
}

@media (max-width: 570px) {
  .content {
    .project-info {
      .tech-list {
        flex-wrap: wrap;
        gap: 15px;
      }
    }
  }
}

@media (max-width: 400px) {
  .content {
    .links {
      gap: 8px;
      button {
        a {
          font-size: 12px;
        }
      }
    }
  }
}

@media (max-width: 347px) {
  .content {
    .links {
      button {
        a {
          font-size: 9px;
        }
      }
    }
  }
}
