.marquee-container {
  overflow: hidden;
  white-space: nowrap;
  width: 100vw;
  background-color: #434343;
  padding: 10px 0;
  position: absolute;
  left: 0;
  bottom: 60px;
  transform: rotate(-4deg);
}

.marquee-content {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 10s linear infinite;

 
  .marquee-item {
    display: inline-block;
    font-size: 32px;
    color: #3dcfb6;
    letter-spacing: 2px;

    &::after {
      content: "•";
      margin-right: 15px;
    }
  }
}

.marquee-item:last-child::after {
  content: "";
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
