.marquee-outer {
  position: absolute;
  left: 50%;
  bottom: 70px;
  transform: translateX(-50%) rotate(-4deg);
  width: 100vw;
  overflow: hidden;
}

.marquee-container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  background-color: rgba(53, 61, 59, 0.8);
  overflow: hidden;
}

.marquee-content {
  display: flex;
  width: max-content;
  white-space: nowrap;
  animation: marquee 12s linear infinite;
}

.marquee-item {
  font-size: 32px;
  color: #3dcfb6;
  letter-spacing: 2px;
  padding-right: 20px;
}

.marquee-item::after {
  content: "•";
  padding-left: 20px;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .marquee-outer {
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%) rotate(-3deg);
  }
}
