.marquee-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #434343;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  position: absolute;     
  left: 50%;
  bottom: 70px;             
  transform: translateX(-50%) rotate(-4deg);
  overflow: hidden;
}

.marquee-content {
  display: flex;
  white-space: nowrap;
  animation: marquee 20s linear infinite;
}

.marquee-item {
  display: inline-block;
  font-size: 32px;
  color: #3dcfb6;
  letter-spacing: 2px;
  margin-right: 15px;

  &::after {
    content: "•";
    margin-left: 15px;
  }
}

.marquee-item:last-child::after {
  content: "";
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); 
  }
}
