<section>
  <div class="section-wrapper">
    <h1>Legal Notice</h1>
    <div class="imprint">
      <h2>Imprint</h2>
      <ul>
        <li>Zeljko Alakovic</li>
        <li>Wilhelm Sollmann Straße 30</li>
        <li>50737, Köln</li>
      </ul>
    </div>
    <div class="email">
      <h2>Exploring the Board</h2>
      <p>Email : zeljkoalakovic997&#64;outlook.com</p>
    </div>
    <div class="terms">
      <h2>Acceptance of terms</h2>
      <span
        >By accessing and using Portfolio(Product), you acknowledge and agree to
        the following terms and conditions, and any policies, guidelines, or
        amendments thereto that my be presented to you from time to time. I,
        Zeljko Alakovic, may update or change the terms and conditions from time
        to time without notice
      </span>
    </div>
    <div class="scope">
      <h2>Scope and ownership of the product</h2>
      <span
        >Portfolio has been developed as part of a project in a web development
        bootcamp at the Developer Akademie GmbH. It has an education purpose and
        is not intended for extensive personal & business usage. As such, we
        cannot guarantee consistent availability, reliability, accuracy, or any
        other aspect of quality regarding this Product.
      </span>
      <p>
        The design of Portfolio is owned by the Developer Akademie GmbH.
        Unauthorized use, reproduction, modification, distribution, or
        replication of design is strictly prohibited
      </p>
    </div>
    <div class="rights">
      <h2>Proprietary rights</h2>
      <span
        >Aside from the design owned by Developer Akademie GmbH, I , Zeljko
        Alakovic, retain all proprietary rights in Portfolio,including any
        associated copyrighted material,trademarks, and other proprietary
        information</span
      >
    </div>
    <div class="product">
      <h2>Use of the product</h2>
      <span
        >Portfolio is intended to be used for lawful purpose only,accordance
        with all applicable laws and regulations. Any use of Portfolio for
        illegal activities, or to harass, harm, threaten, or intimidate another
        person, is strictly prohibited. You are solely responsible for your
        interaction with other users of Portfolio
      </span>
    </div>
    <div class="disclaimer">
      <h2>Disclaimer of warranties and limitation of liability</h2>
      <span
        >Portfolio is provided "as is" without warranty of any kind, whether
        express or implied, including but not limited to the implied warranties
        of merchantability, fitness for a particular purpose, and
        non-infringement. In no event will I, Zeljko Alakovic or the Developer
        Akademie, be liable for and direct, indirect, incidental, special,
        consequential or exemplary damages, including but not limited to,
        damages for loss of profits, goodwill, use, data or other intangible
        losses, even if we have been advised of the possibility of such damages,
        arising out of or in connection with use of performance of Portfolio
      </span>
    </div>
    <div class="indemnity">
      <h2>Indemnity</h2>
      <span
        >You agree to indemnify,defend and hold harmless me, Zeljko Alakovic,the
        Developer Akademie, and our
        affiliates,partners,officers,directors,agents, and employees,from and
        against any claim ,demand, loss,damage, cost, or liability(including
        reasonable legal fees) arising out of or relating to your use of
        Portfolio and/or your breach of this Legal Notice.</span
      >
    </div>
    <div class="contact">
      <span>For any questions or notices, please contact me at zeljkoalakovic997&#64;outlook.com</span>
      <p>Date: December 15,2025</p>
    </div>
  </div>
</section>
