section {
  padding: 80px 0;
  display: flex;
  justify-content: center;

  .section-wrapper {
    padding: 0 30px;
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }

  h1 {
    text-align: center;
    color: #3dcfb6;
    font-size: 45px;
    font-weight: 900;
    padding-bottom: 70px;
  }

  h3 {
    color: #fff;
  }

  p {
    color: #3dcfb6;
  }

  span {
    color: #3dcfb6;
  }

  .imprint {
    h3 {
      padding-bottom: 20px;
    }

    li {
      color: #3dcfb6;
    }
  }

  .terms p span,
  .scope p span,
  .rights p span,
  .product p span,
  .disclaimer p span,
  .indemnity p span {
    color: #fff;
  }

  .scope1 {
    padding-top: 20px;
  }

  .contact  {
    .date  {
        padding-top: 20px;
    }
  }
  
}
