<section>
  <div class="section-wrapper">
    <h1>{{ "IMPRINT.HEADLINE" | translate }}</h1>
    <div class="imprint">
      <h3>{{ "IMPRINT.IMPRINT" | translate }}</h3>
      <ul>
        <li>Zeljko Alakovic</li>
        <li>Wilhelm Sollmann Straße 30</li>
        <li>50737, Köln</li>
      </ul>
    </div>
    <div class="email">
      <h3>{{ "IMPRINT.BOARD" | translate }}</h3>
      <p>Email : zeljkoalakovic997&#64;outlook.com</p>
    </div>
    <div class="terms">
      <h3>{{ "IMPRINT.TERMS_HEAD" | translate }}</h3>
      <p>
        {{ "IMPRINT.TERMS_CONTENT1" | translate }}
        <span> {{ "IMPRINT.PORTFOLIO" | translate }}</span
        >,{{ "IMPRINT.TERMS_CONTENT2" | translate }}
      </p>
    </div>
    <div class="scope">
      <h3>{{ "IMPRINT.SCOPE_HEAD" | translate }}</h3>
      <p>
        <span>Portfolio</span>{{ "IMPRINT.SCOPE_CONTENT1" | translate }} <span>Developer Akademie GmbH</span>.{{ "IMPRINT.SCOPE_CONTENT2" | translate }}
      </p>
      <p class="scope1">
        {{ "IMPRINT.SCOPE_CONTENT3" | translate }} <span>Portfolio</span> {{ "IMPRINT.SCOPE_CONTENT4" | translate }}
        <span>Developer Akademie GmbH</span>. {{ "IMPRINT.SCOPE_CONTENT4" | translate }}
      </p>
    </div>
    <div class="rights">
      <h3>{{ "IMPRINT.RIGHTS_HEAD" | translate }}</h3>
      <p>
        {{ "IMPRINT.RIGHTS_CONTENT1" | translate }} <span>Developer Akademie GmbH</span>, {{ "IMPRINT.RIGHTS_CONTENT2" | translate }}
        <span> Portfolio</span>{{ "IMPRINT.RIGHTS_CONTENT3" | translate }}
      </p>
    </div>
    <div class="product">
      <h3>{{ "IMPRINT.PRODUCT_HEAD" | translate }}</h3>
      <p>
        <span> Portfolio</span> {{ "IMPRINT.PRODUCT_CONTENT1" | translate }}
        <span> Portfolio</span>{{ "IMPRINT.PRODUCT_CONTENT2" | translate }}
        <span> Portfolio</span>
      </p>
    </div>
    <div class="disclaimer">
      <h3>{{ "IMPRINT.DISCLAIMER_HEAD" | translate }}</h3>
      <p>
        <span> Portfolio</span> {{ "IMPRINT.DISCLAIMER_CONTENT1" | translate }}
        <span>Developer Akademie</span>,{{ "IMPRINT.DISCLAIMER_CONTENT2" | translate }} <span> Portfolio</span> {{ "IMPRINT.DISCLAIMER_CONTENT3" | translate }}
      </p>
    </div>
    <div class="indemnity">
      <h3>{{ "IMPRINT.INDEMNITY_HEAD" | translate }}</h3>
      <p>
        {{ "IMPRINT.INDEMNITY_CONTENT1" | translate }}
        <span>Developer Akademie</span>,{{ "IMPRINT.INDEMNITY_CONTENT2" | translate }}
        <span>Portfolio</span> {{ "IMPRINT.INDEMNITY_CONTENT3" | translate }}
      </p>
    </div>
    <div class="contact">
      <p>
       {{ "IMPRINT.CONTACT" | translate }}
        zeljkoalakovic997&#64;outlook.com
      </p>
      <p class="date">{{ "IMPRINT.DATE" | translate }}</p>
    </div>
  </div>
</section>
