section {
  background-color: #1c1c1c;
  padding: 80px 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  .section-wrapper {
    padding: 0 30px;
    width: 100%;
    max-width: 1440px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .info {
    flex: 1 1 500px;
    max-width: 500px;
    display: flex;
    flex-direction: column;

    .tech {
      color: #3dcfb6;
      font-size: 25px;
      font-family: "Karla Regular", "FiraCode Regular" !important;
      margin-bottom: 20px;
    }

    mat-card {
      width: 100%;
      border: 1px solid #3dcfb6;
      border-radius: 30px;
      background-color: #1f2e2b;
      padding: 15px;
    }

    mat-card-title {
      color: #3dcfb6;
      font-size: 40px;
      font-weight: bolder;
      padding-bottom: 15px;
      font-family: "FiraCode Regular", "Karla Regular" !important;
    }

    .about-me {
      color: #fff;
      display: block;
      font-size: 20px;
      padding-top: 30px;
      font-family: "Karla Regular", "FiraCode Regular" !important;
    }

    p {
      display: block;
      padding-top: 30px;
      padding-bottom: 20px;
      color: #fff;
      font-size: 25px;
      font-weight: bolder;

      .highlight {
        color: #3dcfb6 !important;
      }
    }

    .contact-me {
      display: block;
      padding-bottom: 20px;
      color: #fff;
      font-size: 15px;
    }

    button {
      padding: 0 18px;
      overflow: hidden;
      border: 1px solid #fff;
      background: transparent;
      border-radius: 100px;
      height: 40px;

      a {
        color: #fff;
        display: inline-block;
        text-decoration: none;
        font-size: 15px;

        span {
          display: inline-block;
          white-space: nowrap;
          position: relative;
          animation: none;
        }
      }

      &:hover {
        color: #3dcfb6;
        border: 1px solid #3dcfb6;
        cursor: pointer;
      }

      &:hover a span {
        color: #3dcfb6;
        animation: slideLoop 3s linear infinite;
      }
    }

    @keyframes slideLoop {
      0% {
        transform: translateX(0);
      }

      40% {
        transform: translateX(-120%);
        opacity: 1;
      }

      40.5% {
        opacity: 0;
      }

      55% {
        transform: translateX(120%);
        opacity: 0;
      }

      56% {
        opacity: 1;
      }

      100% {
        transform: translateX(0);
      }
    }
  }

  .tech-icons-wrapper {
    max-width: 600px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    align-items: start;

    .tech-icon-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: #fff;
      padding-top: 50px;

      &:hover {
        cursor: default;
      }
    }

    .tech-icon-item img {
      object-fit: contain;
      height: 60px;
      width: 60px;
      transition: transform 0.25s ease;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

@media (max-width: 1000px) {
  section {
    .section-wrapper {
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .tech-icons-wrapper {
      padding-top: 50px;
      gap: 30px;
      .tech-icon-item {
        padding-top: 0px;
      }
    }
  }
}

@media (max-width: 610px) {
  section {
    .tech-icons-wrapper {
      grid-template-columns: repeat(3, 1fr);
    }
    .info {
      mat-card-title {
        font-size: 35px;
      }

      .about-me {
        font-size: 16px;
        padding-top: 20px;
      }

      p {
        padding-top: 20px;
        padding-bottom: 15px;
        font-size: 20px;
      }

      .contact-me {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 510px) {
  section {
    .info {
      mat-card-title {
        font-size: 30px;
      }

      .about-me {
        font-size: 15x;
        padding-top: 15px;
      }

      p {
        font-size: 17px;
      }

      .contact-me {
        font-size: 15px;
      }
    }
  }
}

@media (max-width: 410px) {
  section {
    .section-wrapper {
      padding: 0 15px;
    }
    .info {
      max-width: 100%;
      width: 100%;
      mat-card-title {
        font-size: 25px;
      }

      .about-me {
        font-size: 13x;
        padding-top: 10px;
      }

      p {
        font-size: 15px;
      }

      .contact-me {
        font-size: 13px;
      }
    }
  }
}

@media (max-width: 370px) {
  section {
    .tech-icons-wrapper {
      gap: 20px;
      .tech-icon-item img {
        height: 40px;
        width: 40px;
      }
    }

    .info {
      max-width: 100%;
      width: 100%;
      mat-card-title {
        font-size: 20px;
      }

      .about-me {
        font-size: 11x;
        padding-top: 5px;
      }

      p {
        font-size: 13px;
      }

      .contact-me {
        font-size: 11px;
      }
    }
  }
}

@media (max-width: 340px) {
  section {
    .tech-icons-wrapper {
      gap: 15px;
      .tech-icon-item img {
        height: 30px;
        width: 30px;
      }

      .tech-icon-item{
        .text{
          font-size: 12px;
        }
      }
    }

    .info {
      max-width: 100%;
      width: 100%;
      mat-card-title {
        font-size: 18px;
      }

      .about-me {
        font-size: 10x;
        padding-top: 5px;
      }

      p {
        font-size: 12px;
      }

      .contact-me {
        font-size: 10px;
      }
    }
  }
}
