<section id="technologies">
  <div class="section-wrapper">
    <div class="info" data-aos="fade-down-right" data-aos-duration="2000">
      <span class="tech">{{"TECHNOLOGIES.TECH" | translate}}</span>
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{"TECHNOLOGIES.TITLE" | translate}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <span class="about-me"
            >{{"TECHNOLOGIES.CONTENT" | translate}}</span
          >
          <p>{{"TECHNOLOGIES.QUESTION_WHITE" | translate}} <span class="highlight">{{"TECHNOLOGIES.QUESTION_GREEN" | translate}}</span></p>
          <span class="contact-me">
            {{"TECHNOLOGIES.INVITE" | translate}}
          </span>
        </mat-card-content>
        <mat-card-actions>
          <button mat-stroked-button>
            <a href="#contact"><span>{{"TECHNOLOGIES.CONTACT" | translate}}</span></a>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="tech-icons-wrapper">
      <div
        class="tech-icon-item"
        *ngFor="let tech of technologies; let isLast = last"
      >
        <div class="icon" data-aos="flip-up" data-aos-duration="1500">
          <img src="{{ tech.path }}" alt="" />
        </div>
        <div class="text" data-aos="flip-up" data-aos-duration="1500" >
          <span>{{ tech.name }}</span>
        </div>
      </div>
    </div>
  </div>
</section>
