section {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  overflow-wrap: anywhere;
  word-break: break-word;

  .section-wrapper {
    padding: 0 30px;
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }
  h1 {
    text-align: center;
    color: #3dcfb6;
    font-size: 45px;
    font-weight: 900;
    padding-bottom: 20px;
    margin: 0;
  }

  h2 {
    color: #3dcfb6;
    margin: 0;
  }

  h3 {
    color: gray;
    padding: 15px 0;
    margin: 0;
  }

  h4 {
    color: #3dcfb6;
    padding: 10px 0;
    margin: 0;
  }

  p {
    color: #fff;
    margin: 0;
  }

  ul {
    color: #fff;
    padding: 20px 0 20px 40px;
  }

  a {
    color: #3dcfb6;
  }

  .email {
    padding: 15px 0;
  }
}

@media (max-width: 725px) {
  section {
    h1 {
      font-size: 30px;
    }

    h2 {
      font-size: 18px;
    }

    h3 {
      font-size: 17px;
    }
  }
}

@media (max-width: 435px) {
  section {
    .section-wrapper {
      padding: 0 15px;
    }
    h1 {
      font-size: 25px;
    }
  }
}

@media (max-width: 370px) {
  section {
    h1 {
      font-size: 20px;
    }
  }
}
