<section>
  <div class="section-wrapper">
    <h1>{{ "PRIVACY.HEADLINE" | translate }}</h1>
    <div class="data">
      <h2>{{ "PRIVACY.1" | translate }}</h2>
      <h3>{{ "PRIVACY.1.1" | translate }}</h3>
      <p>{{ "PRIVACY.1.1.1" | translate }}</p>
      <h3>{{ "PRIVACY.1.2" | translate }}</h3>
      <h4>{{ "PRIVACY.1.2.1" | translate }}</h4>
      <p>{{ "PRIVACY.1.2.1.1" | translate }}</p>
      <h4>{{ "PRIVACY.1.2.2" | translate }}</h4>
      <p>{{ "PRIVACY.1.2.2.1" | translate }}</p>
      <h4>{{ "PRIVACY.1.2.3" | translate }}</h4>
      <p>{{ "PRIVACY.1.2.3.1" | translate }}</p>
      <h4>{{ "PRIVACY.1.2.4" | translate }}</h4>
      <p>{{ "PRIVACY.1.2.4.1" | translate }}</p>
    </div>
    <div class="general">
      <h2>{{ "PRIVACY.2" | translate }}</h2>
      <h3>{{ "PRIVACY.2.1" | translate }}</h3>
      <p>{{ "PRIVACY.2.1.1" | translate }}</p>
      <h3>{{ "PRIVACY.2.2" | translate }}</h3>
      <p>{{ "PRIVACY.2.2.1" | translate }}</p>
      <p class="email">
        Zeljko Alakovic <br />
        Köln, 50737 <br />
        E-Mail:zeljkoalakovic997&#64;outlook.com
      </p>
      <p>{{ "PRIVACY.2.2.2" | translate }}</p>
      <h3>{{ "PRIVACY.2.3" | translate }}</h3>
      <p>{{ "PRIVACY.2.3.1" | translate }}</p>
      <h3>{{ "PRIVACY.2.4" | translate }}</h3>
      <p>{{ "PRIVACY.2.4.1" | translate }}</p>
      <h3>{{ "PRIVACY.2.5" | translate }}</h3>
      <p>{{ "PRIVACY.2.5.1" | translate }}</p>
      <h3>{{ "PRIVACY.2.6" | translate }}</h3>
      <p>{{ "PRIVACY.2.6.1" | translate }}</p>
      <h3>{{ "PRIVACY.2.7" | translate }}</h3>
      <p>{{ "PRIVACY.2.7.1" | translate }}</p>
      <h3>{{ "PRIVACY.2.8" | translate }}</h3>
      <p>{{ "PRIVACY.2.8.1" | translate }}</p>
      <h3>{{ "PRIVACY.2.9" | translate }}</h3>
      <p>{{ "PRIVACY.2.9.1" | translate }}</p>
      <h3>{{ "PRIVACY.2.10" | translate }}</h3>
      <p>{{ "PRIVACY.2.10.1" | translate }}</p>
      <h3>{{ "PRIVACY.2.11" | translate }}</h3>
      <p>{{ "PRIVACY.2.11.1" | translate }}</p>
      <ul>
        <li>{{ "PRIVACY.2.11.1.1" | translate }}</li>
        <li>{{ "PRIVACY.2.11.1.2" | translate }}</li>
        <li>{{ "PRIVACY.2.11.1.3" | translate }}</li>
        <li>{{ "PRIVACY.2.11.1.4" | translate }}</li>
      </ul>
      <p>{{ "PRIVACY.2.11.2" | translate }}</p>
    </div>
    <div class="data-collection">
      <h2>{{ "PRIVACY.3" | translate }}</h2>
      <h3>{{ "PRIVACY.3.1" | translate }}</h3>
      <p>{{ "PRIVACY.3.2" | translate }}</p>
      <p>{{ "PRIVACY.3.3" | translate }} <a href=" https://www.e-recht24.de" target="_blank"> https://www.e-recht24.de</a></p>
    </div>
  </div>
</section>
