section {
  padding: 30px 20px;
  display: flex;
  justify-content: center;

  &.gray-background {
    background-color: #1c1c1c;
  }

  &.transparent-background {
    background-color: transparent;
  }

  .section-wrapper {
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
  }

  .left,
  .right {
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: 5px;
  }

  .right {
    align-self: end;
  }

  .midd {
    color: #3dcfb6;
    align-self: center;
  }

  .right a {
    position: relative;
    text-decoration: none;
    color: #fff;
    padding-left: 15px;

    &:hover {
      color: #3dcfb6;
    }

    &::before {
      content: "•";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      color: transparent;
      transition: color 0.2s ease-in-out;
    }

    &:hover::before {
      color: #3dcfb6;
      font-size: 22px;
    }
  }

  .logo-container {
    display: flex;
    align-items: center;
    padding-bottom: 10px;

    .logo-letters {
      position: relative;
      width: 50px;
      height: 50px;

      .letter-a {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 50px;
        font-weight: bold;
        color: #3dcfb6;
      }

      .letter-z {
        position: absolute;
        bottom: 13px;
        font-size: 50px;
        font-weight: bold;
        color: #3dcfb6;
        transition: transform 0.3s ease;
        transform: rotate(90deg);
      }
    }

    .full-name {
      display: flex;
      flex-direction: column;
      span {
        font-size: 33px;
        font-weight: bolder;
        color: #fff;
        line-height: 1.1;
      }
    }

    &:hover {
      .logo-letters .letter-z,
      .logo-letters .letter-a {
        color: transparent;
        -webkit-text-stroke: 1px #3dcfb6;
        font-weight: 100;
        cursor: pointer;
        filter: brightness(1.3);
      }
      .full-name span {
        color: transparent;
        -webkit-text-stroke: 0.5px #fff;
        font-weight: 50;
        cursor: pointer;
        filter: brightness(3);
      }
    }
  }
}

@media (max-width: 650px) {
  section {
    .section-wrapper {
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .left {
      span{
        font-size: 15px;
      }
      .logo-container {
        .logo-letters{
          .letter-a{
            font-size: 40px;
            top:10px;
          }
          .letter-z{
            font-size: 40px;
          }
        }
        .full-name {
          span {
            font-size: 25px;
          }
        }
      }
    }

    .midd {
      order: 3;
      width: 100%;
      text-align: center;
     
    }

    .right {
      align-self: flex-start;
    }

    .right a {
      font-size: 15px;
    }
  }
}

@media (max-width: 650px) {
  section {
    .section-wrapper {
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .left {
      span{
        font-size: 10px;
      }
      .logo-container {
        .logo-letters{
          width: 30px;
          height: 30px;
          .letter-a{
            font-size: 20px;
            top:5px;
          }
          .letter-z{
            font-size: 20px;
          }
        }
        .full-name {
          span {
            font-size: 15px;
          }
        }
      }
    }

    .midd {
      order: 3;
      width: 100%;
      text-align: center;
     
    }

    .right {
      align-self: flex-start;
    }

    .right a {
      font-size: 11px;
    }
  }
}