<section>
  <div class="section-wrapper">
    <div class="left">
      <div class="logo-container" (click)="goToLanding()">
        <div class="logo-letters">
          <span class="letter-z">Z</span>
          <span class="letter-a">A</span>
        </div>
        <div class="full-name">
          <span>Zeljko</span>
          <span>Alakovic</span>
        </div>
      </div>
      <span>Web Developer</span>
      <span>Cologne Germany</span>
    </div>
    <div class="midd">
      <span>&copy; Zeljko Alakovic 2025</span>
    </div>
    <div class="right">
      <a href="https://github.com/Alakovic" target="_blank">Github</a>
      <a href="https://www.linkedin.com/in/zeljko-alakovic-84219b368" target="_blank">LinkedIn</a>
      <a href="mailto:zeljkoalakovic997@outlook.com">Email</a>
      <a href="imprint">Legal Notice</a>
    </div>
  </div>
</section>
